html {
  background-color: #3a98b9;
  /* background-color: rgba(0, 0, 0, 0.85); */
  overflow: hidden;
}


table input {  /* ***This is for inputs WITHIN tables - not tables AND inputs */
  width: 90% !important;
}

input,
select {
  border-radius: 20px;
  border: none;
}

button {
  font-weight: bold;
  background-color: #3a98b9;
  color: white;
  border: white solid 1px;
  border-radius: 20px;
}

button:hover {
  font-weight: bolder;
  background-color: white;
  color: #3a98b9;
  border: none solid 1px;
}

.flipButton {
  background-color: white;
  color: #3a98b9;
  border: none solid 1px;
  border-radius: 20px;
}

.flipButton:hover {
  background-color: #3a98b9;
  color: white;
  border: white solid 1px;
}

input[type="checkbox"]:checked {
  accent-color: #3a98b9;
}

tr input[type="checkbox"]:hover {
  accent-color: #3a98b9;
}

.tableStyling {
  border-collapse: collapse;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.all {
  width: 95vw;
  height: 95vh;
  overflow-x: hidden;
  color: white;
  background-color: #3a98b9;
  border-radius: 5px;
  border: 3px solid black;
  text-align: center;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.tableData {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.pageContent {
  display: flex;
  flex-direction: column;
}

thead {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}

.topicTable {
  margin-bottom: 5%;
}

.addInformation {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid red;
}

